body {
  min-width: 320px;
  padding-inline: 10px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

li:hover input {
  border: 1px solid black;
}

li:hover .title {
  color: black;
}

li .title {
  font-weight: 500;
  word-wrap: no-wrap;
  flex-grow: 1;
  color: #323232db;
}

button {
  cursor: pointer;
}

a {
  overflow-wrap: break-word;
}

input,
a {
  padding: 5px;
  border-radius: 5px;
  max-width: 170px;
  border: solid 0.5px #0080002b !important;
}

input::selection {
  background: #00000030;
}

.copy {
  border: 1px solid;
  border-radius: 5px;
  padding: 3px 5px;
}
